APP_SECRET_KEY=replace-with-a-long-random-secret
APP_DEBUG=true
APP_ALLOWED_HOSTS=127.0.0.1,localhost,10.0.2.2
APP_DB_NAME=exam_entry
APP_DB_USER=exam_entry
APP_DB_PASSWORD=replace-with-local-password
APP_DB_HOST=127.0.0.1
APP_DB_PORT=5432
APP_DB_SCHEMA=exam_entry_app
